.JobBtn{
  border-radius: 4px;
  border: 1px solid #7F7F7F;
  background: rgba(53, 53, 53, 0.20); 
  color: #FFF;
  min-width: 83px;
  padding: 7.5px 11px;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.48px;   
}