.jobsBg {
    position: relative;
    height: 100%;

    &::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 650px;
        height: 100%;
        z-index: 0;
        box-shadow: 8px 0px 8px 0px rgba(0, 0, 0, 0.2);
        @media screen and (max-width:1599px) {
            width: 575px;
        }
        @media screen and (max-width:992px) {
            width: auto;
        }
    }
}

.JobsHeading {
    padding: 17px 26px 17px 32px;
    position: relative;
    z-index: 1;
    @media screen and (max-width:992px) {
        padding: 10px;
    }
    h2 {
        color: #fff;
        font-family: 'Archivo', sans-serif;
        font-size: 36px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        letter-spacing: -1.44px;
        text-transform: capitalize;
        margin-bottom: 0;
    }

    .leftGap {
        gap: 23px;
    }

    .navSearchDiv {
        &.jobSearchDiv{
            @media screen and (max-width:767px) {
                width: 100%;
                form{
                    width: 100%;
                    .searchBox{
                        width: 100%;
                        input{
                            width: 100%;
                        }
                    }
                }
            }
            @media screen and (min-width:993px) {
                form{
                    .searchBox{
                        input{
                            min-width: 300px;
                            max-width: calc(100% - 570px );
                        }
                    }
                }
            }
        }
        form {
            width: max-content;
            display: flex;

            .searchBox {
                border-radius: 2px;
                padding: 4px 14px;
                background: #353535;
                display: flex;
                gap: 8px;
                align-items: center;

                input {
                    background: transparent;
                    border: none;
                    outline: none;
                    color: #E2E31F;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    letter-spacing: -0.64px;

                    &::placeholder {
                        color: #E2E31F;
                    }

                    &::-moz-placeholder {
                        color: #E2E31F;
                        opacity: 1;
                    }
                }
            }

            .searchUserImg {
                width: 40px;
                height: 40px;
                background: #e2e31f;
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: 16px;
                box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));


            }
        }
    }

    .navSearchTab {
        @media screen and (max-width:767px) {
            width: 100%;
            .jobtaskTab{
                width: calc(100%);
            }
        }
        form {
            width: max-content;
            display: flex;

            .searchBox {
                border-radius: 2px;
                padding: 4px 14px;
                background: #353535;
                display: flex;
                gap: 8px;
                align-items: center;

                input {
                    background: transparent;
                    border: none;
                    outline: none;
                    color: #E2E31F;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    letter-spacing: -0.64px;

                    &::placeholder {
                        color: #E2E31F;
                    }

                    &::-moz-placeholder {
                        color: #E2E31F;
                        opacity: 1;
                    }
                }
            }

            .searchUserImg {
                width: 40px;
                height: 40px;
                background: #e2e31f;
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: 10px;
                box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));


            }
        }
    }

    .jobsTaskTabsDiv {
        display: flex;

        .jobtaskTab {
            background: #353535;
            min-width: 144px;
            text-align: center;
            color: #FFF;
            font-size: 12px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            letter-spacing: -0.48px;
            padding: 6px;
            position: relative;
            z-index: 0;
            cursor: pointer;
            border-radius: 6px;

            &:nth-child(2) {
                transform: translateX(-16px);
                @media screen and (max-width:767px) {
                    width: calc(100% + 16px);
                    transform: translateX(0px);
                    margin-left: -16px;
                }
            }

            &.active {
                z-index: 1;
                border: 1px solid #E2E31F;
                background: #969721;
            }
        }
    }

    .addjobs {
        display: flex;
        justify-content: center;
        align-items: center;
        &.addJobsMobile{
            @media screen and (max-width: 767px) {
                margin-left: auto;
                span, .addJobIcon{
                    display: none;
                }
            }
        }
        span {
            color: #E2E31F;
        }

        .addJobIcon {
            width: 40px;
            height: 40px;
            background: #e2e31f;
            border-radius: 0px !important;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 10px;
            box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
            cursor: pointer;
        }

        .notifyIcon {
            width: 40px;
            height: 40px;
            background: transparent;
            border-radius: 0px !important;
            display: flex;
            border: 1px solid #e2e31f;
            justify-content: center;
            align-items: center;
            margin-left: 10px;
            box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
        }

    }

    .delete-box {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .searchUserImg {
            width: 40px;
            height: 40px;
            background: #e2e31f;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
        }

        .delete-item {
            font-size: 14px;
            color: #E2E31F;
            margin-left: 10px;
        }
    }

    .job-filters {
        align-self: center;
        font-size: 18px;
        font-weight: 600;
        color: #E2E31F;
        cursor: pointer;
    }
}



.JobsContainer {
    width: 100%;
    position: relative;
    &.desktop{
        display: flex;
        @media screen and (max-width:992px) {
            display: none;
        }
    }
    .left-side {
        padding: 6px 0px 6px 16px;
        min-width: 650px;
        // box-shadow: 8px 0px 8px 0px rgba(0, 0, 0, 0.2);
        // height: 100vh;
        // position: fixed;
        // z-index: 1000;
        // background: #252525;
        @media screen and (max-width:1599px) {
            min-width: 575px;
        }

        .first-table {
            margin-top: 20px;

            .job_table_outer_div {
                min-width: max-content;

                tr:first-child {
                    border-right: none !important;
                }

                td:first-child {
                    border-right: none !important;
                }

                th:first-child {
                    border-right: none !important;
                }

                tr {
                    height: 67px;
                    border-bottom: 1px solid rgba(226, 227, 31, 0.15);

                    .svg-box {
                        border: 2px solid #e2e31f;
                        width: 15px;
                        height: 15px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                    }

                    .svg-box-2 {
                        border: 2px solid #e2e31f;
                        width: 15px;
                        height: 15px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: #e2e31f;
                        cursor: pointer;
                    }

                    .job-name {
                        max-width: 350px;
                        h4 {
                            font-size: 16px;
                            color: #E2E31F;
                            // line-height: 0px;
                            margin-bottom: 0;
                        }

                        h6 {
                            font-size: 12px;
                            color: #FFFFFF;
                        }
                    }

                    .stageBtn {
                        border-radius: 4px;
                        color: #FFF;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                        letter-spacing: -0.48px;
                        min-height: 28px;
                        align-content: center;
                        min-width: max-content;
                        padding: 8px 14px;


                        &.btn_Application {
                            border: 1px solid #3B9239;
                            background: rgba(59, 146, 57, 0.60);
                        }

                        &.btn_Referral {
                            border: 1px solid #1FB4E3;
                            background: rgba(31, 180, 227, 0.40);
                        }

                        &.btn_Information {
                            border: 1px solid #8A50C5;
                            background: rgba(138, 80, 197, 0.49);
                        }

                        &.btn_Public {
                            border: 1px solid #FF5C00;
                            background: rgba(255, 92, 0, 0.55);
                        }

                        &.btn_Decision {
                            border: 1px solid #FF40BE;
                            background: rgba(255, 64, 190, 0.40);
                        }

                        &.btn_Unknown {
                            border: 1px solid #FFF;
                            background: rgba(255, 255, 255, 0.25);
                        }
                    }

                    td:not(:last-child),
                    th:not(:last-child) {
                        border-right: 1px solid rgba(226, 227, 31, 0.15);
                    }

                    &:last-child {
                        border-bottom: none;
                    }

                }

                th {
                    position: relative;

                    .headerDiv {
                        background: #353535;
                        text-align: center;
                        color: #e2e31f;
                        padding: 10px 20px;
                        font-size: 17px;
                    }

                    &:last-child {
                        border-bottom: none;
                    }


                }

                th,
                td {
                    vertical-align: middle;
                }

                /* Apply border-bottom to all table rows except the last one */
                tr:not(:last-child) {
                    border-bottom: 1px solid rgba(226, 227, 31, 0.15);


                }

                ul{
                    padding: 0;
                    list-style: none;
                    li{
                        padding: 10px;
                        margin-bottom: 10px;
                        border: 1px solid rgba(226, 227, 31, 0.15);
                        .jobBox{
                            display: flex;
                            flex-direction: column;
                            max-width: 100%;
                            gap: 10px;
                            align-items: center;
                            .jobItem{
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                width: 100%;
                                // &:first-child{
                                //     justify-content: center;
                                // }
                                .svg-box {
                                    border: 2px solid #e2e31f;
                                    width: 15px;
                                    height: 15px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    cursor: pointer;
                                }
            
                                .svg-box-2 {
                                    border: 2px solid #e2e31f;
                                    width: 15px;
                                    height: 15px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    background-color: #e2e31f;
                                    cursor: pointer;
                                }
            
                                .job-name {
                                    max-width: calc(100% - 100px);
                                    h4 {
                                        font-size: 16px;
                                        color: #E2E31F;
                                        line-height: normal;
                                        margin-bottom: 0;
                                    }
            
                                    h6 {
                                        font-size: 12px;
                                        color: #FFFFFF;
                                    }
                                }
            
                                .stageBtn {
                                    border-radius: 4px;
                                    color: #FFF;
                                    font-size: 16px;
                                    font-style: normal;
                                    font-weight: 700;
                                    line-height: normal;
                                    letter-spacing: -0.48px;
                                    min-height: 28px;
                                    align-content: center;
                                    min-width: max-content;
                                    padding: 8px 14px;
            
                                    &.btn_Application {
                                        border: 1px solid #3B9239;
                                        background: rgba(59, 146, 57, 0.60);
                                    }
            
                                    &.btn_Referral {
                                        border: 1px solid #1FB4E3;
                                        background: rgba(31, 180, 227, 0.40);
                                    }
            
                                    &.btn_Information {
                                        border: 1px solid #8A50C5;
                                        background: rgba(138, 80, 197, 0.49);
                                    }
            
                                    &.btn_Public {
                                        border: 1px solid #FF5C00;
                                        background: rgba(255, 92, 0, 0.55);
                                    }
            
                                    &.btn_Decision {
                                        border: 1px solid #FF40BE;
                                        background: rgba(255, 64, 190, 0.40);
                                    }
            
                                    &.btn_Unknown {
                                        border: 1px solid #FFF;
                                        background: rgba(255, 255, 255, 0.25);
                                    }
                                }
                            }
                        }
                    }
                }


            }


            thead {
                border-radius: 2px;

                padding: 12px 20px;

                .lastCell {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                }
            }
        }

    }

    &.mobile{
        @media screen and (min-width:993px) {
            display: none;
        }
        .left-side {
            min-width: auto;
            .job_table_outer_div{
                min-width: auto;
            }
        }
    }
    .jobsTaskTabsDiv {
        display: flex;

        .jobtaskTab {
            background: #353535;
            min-width: 144px;
            text-align: center;
            color: #FFF;
            font-size: 12px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            letter-spacing: -0.48px;
            padding: 6px;
            position: relative;
            z-index: 0;
            cursor: pointer;
            border-radius: 6px;

            &:nth-child(2) {
                transform: translateX(-16px);
            }

            &.active {
                z-index: 1;
                border: 1px solid #E2E31F;
                background: #969721;
            }
        }
    }

    .right-side {
        padding: 6px 16px 6px 0;
        max-width: calc(100% - 650px);
        // position: absolute;
        // left: 800px;
        // height: 100vh;
        @media screen and (max-width:1599px) {
            max-width: calc(100% - 575px);
        }
        .right-side-table{
            max-width: 100%;            
        }
        .JobsHeading {
            h2 {
                color: #fff;
                font-family: 'Archivo', sans-serif;
                font-size: 36px;
                font-style: normal;
                font-weight: 900;
                line-height: normal;
                letter-spacing: -1.44px;
                text-transform: capitalize;
                margin-bottom: 0;
            }
            
            .navSearchDiv {

                padding: 17px;

                form {
                    width: max-content;
                    display: flex;

                    .searchBox {
                        border-radius: 2px;
                        padding: 4px 14px;
                        background: #353535;
                        display: flex;
                        gap: 8px;
                        align-items: center;

                        input {
                            background: transparent;
                            border: none;
                            outline: none;
                            color: #E2E31F;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;
                            letter-spacing: -0.64px;

                            &::placeholder {
                                color: #E2E31F;
                            }

                            &::-moz-placeholder {
                                color: #E2E31F;
                                opacity: 1;
                            }
                        }
                    }

                    .searchUserImg {
                        width: 40px;
                        height: 40px;
                        background: #e2e31f;
                        border-radius: 5px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-left: 10px;
                        box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));


                    }
                }
            }

            .addjobs {
                display: flex;
                justify-content: center;
                align-items: center;

                .addJobIcon {
                    width: 40px;
                    height: 40px;
                    background: #e2e31f;
                    border-radius: 0px !important;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-left: 10px;
                    box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
                }

                .notifyIcon {
                    width: 40px;
                    height: 40px;
                    background: transparent;
                    border-radius: 0px !important;
                    display: flex;
                    border: 1px solid #e2e31f;
                    justify-content: center;
                    align-items: center;
                    margin-left: 10px;
                    box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
                }

            }
        }

        .first-table {
            margin-top: 20px;

            .delete-box {
                display: flex;
                justify-content: flex-start;
                align-items: center;

                .searchUserImg {
                    width: 40px;
                    height: 40px;
                    background: #e2e31f;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-left: 10px;
                    box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
                }

                .delete-item {
                    font-size: 14px;
                    color: #E2E31F;
                    margin-left: 10px;
                }
            }

            .job_table_outer_div {
                min-width: max-content;

                tr {
                    height: 67px;
                    border-bottom: 1px solid rgba(226, 227, 31, 0.15);

                    .svg-box {
                        border: 2px solid #e2e31f;
                        width: 15px;
                        height: 15px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                    }

                    .svg-box-2 {
                        border: 2px solid #e2e31f;
                        width: 15px;
                        height: 15px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: #e2e31f;
                        cursor: pointer;
                    }

                    .userImagesCol {
                        display: flex;
                        justify-content: center;
                    }

                    .searchUserImg {
                        width: 40px;
                        height: 40px;
                        background: #e2e31f;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
                    }

                    .jobDescriptionTextDiv {
                        min-width: 500px;
                    }

                    .job-name {

                        h4 {
                            font-size: 16px;
                            color: #E2E31F;

                        }

                        h6 {
                            font-size: 12px;
                            color: #FFFFFF;
                        }
                    }

                    .statusBtn {
                        padding: 0px 14px;
                        border-radius: 5px;
                        min-height: 30px;
                        text-transform: capitalize;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        &.pending {
                            background: #1FB4E366;
                            border: 1px solid #1FB4E3;
                            color: #1FB4E3;
                        }

                        &.in-progress {
                            background: #c5b9507d;
                            border: 1px solid #c5b450;
                            color: #c5b450;
                        }

                        &.completed {
                            background: #3B923999;
                            border: 1px solid #3B9239;
                            color: #3B9239;
                        }

                        &.not-started {
                            background: #ff000066;
                            border: 1px solid #ff0000;
                            color: #ff0000;
                        }

                        &.on-hold {
                            background: #29232366;
                            border: 1px solid #332929;
                            color: #3c3e3f
                        }

                    }

                    td:not(:last-child),
                    th:not(:last-child) {
                        border-right: 1px solid rgba(226, 227, 31, 0.15);
                    }

                    &:last-child {
                        border-bottom: none;
                    }
                    .checkBtn{
                        display: flex;
                        margin: auto;
                        justify-content: center;
                        align-items: center;
                        width: 30px;
                        height: 30px;
                        border-radius: 5px;
                        color: transparent;
                        text-transform: capitalize;
                        font-size: 14px;
                        font-weight: 700;
                        border: 1px solid #3B9239;
                        background: rgb(59, 146, 57,0.60) ;
                        svg{
                            path{
                                stroke: #71E26E;
                            }
                        }
                        
                    }
                }



                th {
                    position: relative;

                    .headerDiv {
                        background: #353535;
                        text-align: center;
                        color: #e2e31f;
                        padding: 10px 20px;
                        font-size: 17px;
                    }

                    &:first-child {
                        border-bottom: none;
                    }


                }
            }

            th,
            td {
                vertical-align: middle;
            }

            thead {
                border-radius: 2px;

                padding: 12px 20px;

                .lastCell {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                }
            }
        }

    }

}