.date{
    p{
        background: #252525;
        padding: 11px 38px;
        text-wrap: nowrap;
    }
}

.stage-buttonContainer{
    min-width: 776px;
    width: 100%;
    background: #353535;
    padding: 22px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    position: absolute;
    top: calc(100% + 100px);
    right: 0;
    left: auto;
    z-index: 99;
    button{
        min-width: 173px;
        // width: 100%;
        height: 40px;
        // padding: 12px 30px;
        font-size: 14px;
        font-weight: 700;
        border: none;
        outline: none;
        border-radius: 4px;
        color: #FFFFFF;
    }

    .filter-statusBtn {
        padding: 7px 37px;
        border-radius: 5px;
        color: #FFFFFF;
        text-transform: capitalize;
        font-size: 14px;
        font-weight: 700;
        background: rgb(113, 113, 113);
        border: 1px solid rgb(92 89 89 / 15%);
    
        &.pending {
            background: #1FB4E366;
            border: 1px solid #1FB4E3;
    
        }
    
        &.in-progress {
            background: #c5b9507d;
            border: 1px solid #c5b450;
    
        }
    
        &.completed {
            background: #3B923999;
            border: 1px solid #3B9239;
    
        }
    
        &.not-started {
            background: #ff000066;
            border: 1px solid #ff0000;
    
        }
    
        &.on-hold {
            background: rgb(113, 113, 113);
            border: 1px solid rgb(92 89 89 / 15%);
    
        }
    
    }

}
.addAssigneeDropdown12 {
    position: absolute;
    left: 0;
    top: 180px;
    z-index: 99;
    width: 100%;
    height: 100%;
    // background: rgba(37, 37, 37, 0.60);
    // backdrop-filter: blur(2px);
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .addTaskJobListScroll12 {
        border-radius: 8px;
        background: #353535;
        padding: 27px 18px 23px 21px;
        margin-top: 7px;
        // max-width: max-content;
        width: 100%;

        .addTaskJobListItems12 {
            max-height: 300px;
            overflow-y: auto;

            &::-webkit-scrollbar {
                width: 4px;
            }

            &:-moz-scrollbar {
                width: 4px;
            }

            &::-webkit-scrollbar-track {
                border-radius: 2px;
                background: rgb(255, 255, 255);
                background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(113, 113, 113, 1) 30%, rgba(113, 113, 113, 1) 70%, rgba(255, 255, 255, 0) 100%);
            }

            &:-moz-scrollbar-track {
                border-radius: 2px;
                background: rgb(255, 255, 255);
                background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(113, 113, 113, 1) 30%, rgba(113, 113, 113, 1) 70%, rgba(255, 255, 255, 0) 100%);
            }

            &::-webkit-scrollbar-thumb {
                background: #fff;
                border-radius: 4px;
            }

            &:-moz-scrollbar-thumb {
                background: #fff;
                border-radius: 4px;
            }

            label {
                color: #E2E31F;
                font-size: 14px;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
                letter-spacing: -0.56px;
                margin-bottom: 24px;

                &.addedAssignees {
                    font-size: 16px;
                    font-weight: 600;
                    line-height: normal;
                    letter-spacing: -0.64px;
                    margin-bottom: 16px;
                }
            }

            .addedAssigneeBorder {
                border-bottom: 1px solid rgb(226, 227, 31, 0.15);
            }

            .addAssigneeDiv {
                display: flex;
                justify-content: flex-start;
                gap: 16px;
                margin-bottom: 21px;
                transition: all 0.5s ease;
                min-width: max-content;
                color: #fff;
                cursor: pointer;

                h4 {
                    color: #E2E31F;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    letter-spacing: -0.64px;
                    margin: 0;
                }

                p {
                    margin: 0;
                    color: #FFF;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: normal;
                    letter-spacing: -0.48px;
                }

                .checkAddBtn {
                    margin-left: auto;
                    padding: 0 20px;
                    font-size: 20px;
                    color: #E2E31F;
                }

                &.active {
                    color: #000;
                }

                .UserImg {
                    width: 40px;
                    height: 40px;
                    background: #e2e31f;
                    border-radius: 5px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-left: 10px;
                    box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
            
                    img {
                        object-fit: cover;
                        max-width: 100%;
                        height: 100%;
                        border-radius: 5px;
                        border: 1px solid #000;
                    }
            
                    &.withAddBtn {
                        position: relative;
                        cursor: pointer;
            
                        &::after {
                            content: '+';
                            position: absolute;
                            bottom: 0;
                            right: 0;
                            width: 16px;
                            height: 16px;
                            background: #fff;
                            color: #000;
                            border-radius: 50%;
                            transform: translateX(20%) translateY(20%);
                            z-index: 1;
                            display: flex;
                            font-size: 12px;
                            line-height: 100%;
                            justify-content: center;
                            align-items: center;
                        }
                    }
            
                    &.addedUserImages {
                        position: relative;
                        z-index: 0;
                        margin: 0;
                        margin-right: -10px;
            
                        img {
                            object-fit: cover;
                            max-width: 100%;
                            height: 100%;
                            border-radius: 5px;
                        }
                    }
                }
            }
        }
    }
}
