.date{
    p{
        background: #252525;
        padding: 11px 38px;
    }
}
 
.stage-buttonContainer{
    min-width: 776px;
    width: 100%;
    background: #353535;
    padding: 22px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    position: absolute;
    top: calc(100% + 100px);
    right: 0;
    left: auto;
    z-index: 99;
    button{
        min-width: 173px;
        // width: 100%;
        height: 40px;
        // padding: 12px 30px;
        font-size: 14px;
        font-weight: 700;
        border: none;
        outline: none;
        border-radius: 4px;
        color: #FFFFFF;
    }
 
}

.addTaskJobDiv {
    position: relative;

    .addTaskJobDropdown {
        position: absolute;
        left: 0;
        top: calc(100% + 22px);
        z-index: 99;

        &.right {
            right: 0;
            left: auto;
        }

        .addTaskJobSearchDiv {
            border-radius: 2px;
            background: #353535;
            padding: 12px 13px 13px 14px;
            display: flex;
            justify-content: space-between;
            gap: 8px;

            .searchBox {
                border-radius: 2px;
                padding: 11px 14px;
                background: #252525;
                display: flex;
                gap: 8px;
                align-items: center;

                input {
                    background: transparent;
                    border: none;
                    outline: none;
                    color: #E2E31F;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    letter-spacing: -0.64px;

                    &::placeholder {
                        color: #E2E31F;
                    }

                    &::-moz-placeholder {
                        color: #E2E31F;
                        opacity: 1;
                    }
                }
            }

            .divider {
                width: 1px;
                background: #fff;
                border-radius: 2px;
            }
        }

        .addTaskJobListScroll {
            border-radius: 8px;
            background: #353535;
            padding: 27px 18px 23px 21px;
            margin-top: 7px;

            .addTaskJobListItems {
                max-height: 300px;
                overflow-y: auto;

                &::-webkit-scrollbar {
                    width: 4px;
                }

                &:-moz-scrollbar {
                    width: 4px;
                }

                &::-webkit-scrollbar-track {
                    border-radius: 2px;
                    background: rgb(255, 255, 255);
                    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(113, 113, 113, 1) 30%, rgba(113, 113, 113, 1) 70%, rgba(255, 255, 255, 0) 100%);
                }

                &:-moz-scrollbar-track {
                    border-radius: 2px;
                    background: rgb(255, 255, 255);
                    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(113, 113, 113, 1) 30%, rgba(113, 113, 113, 1) 70%, rgba(255, 255, 255, 0) 100%);
                }

                &::-webkit-scrollbar-thumb {
                    background: #fff;
                    border-radius: 4px;
                }

                &:-moz-scrollbar-thumb {
                    background: #fff;
                    border-radius: 4px;
                }

                .addTaskJobListItem {
                    padding: 14px 21px 15px 24px;
                    margin-bottom: 2px;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    letter-spacing: -0.64px;
                    transition: all 0.5s ease;
                    min-width: max-content;
                    color: #fff;
                    cursor: pointer;
                    background: linear-gradient(90deg, #e3e31f00 0%, rgba(226, 227, 31, 0.00) 100%);

                    &:hover,
                    &.active {
                        background: linear-gradient(90deg, #E2E31F 0%, rgba(226, 227, 31, 0.00) 100%);
                        color: #000;
                    }
                }

                .addTaskJobStageItem {
                    min-width: max-content;
                    padding: 14px 21px 15px 24px;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    letter-spacing: -0.64px;
                    transition: all 0.5s ease;
                    border-radius: 4px;
                    color: #FFF;
                    cursor: pointer;
                    border: 1px solid #FFF;
                    background: rgba(255, 255, 255, 0.25);
                    margin-bottom: 7px;

                    &.Application {
                        border: 1px solid #3B9239;
                        background: rgba(59, 146, 57, 0.60);
                    }

                    &.Referral {
                        border: 1px solid #1FB4E3;
                        background: rgba(31, 180, 227, 0.40);
                    }

                    &.Information {
                        border: 1px solid #8A50C5;
                        background: rgba(138, 80, 197, 0.49);
                    }

                    &.Public {
                        border: 1px solid #FF5C00;
                        background: rgba(255, 92, 0, 0.55);
                    }

                    &.Decision {
                        border: 1px solid #FF40BE;
                        background: rgba(255, 64, 190, 0.40);
                    }

                }

                label {
                    color: #E2E31F;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: normal;
                    letter-spacing: -0.56px;
                    margin-bottom: 24px;

                    &.addedAssignees {
                        font-size: 16px;
                        font-weight: 600;
                        line-height: normal;
                        letter-spacing: -0.64px;
                        margin-bottom: 16px;
                    }
                }

                .addedAssigneeBorder {
                    border-bottom: 1px solid rgb(226, 227, 31, 0.15);
                }

                .addAssigneeDiv {
                    display: flex;
                    justify-content: flex-start;
                    gap: 16px;
                    margin-bottom: 21px;
                    transition: all 0.5s ease;
                    min-width: max-content;
                    color: #fff;
                    cursor: pointer;

                    h4 {
                        color: #E2E31F;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                        letter-spacing: -0.64px;
                        margin: 0;
                    }

                    p {
                        margin: 0;
                        color: #FFF;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: normal;
                        letter-spacing: -0.48px;
                    }

                    .checkAddBtn {
                        margin-left: auto;
                        padding: 0 20px;
                        font-size: 20px;
                        color: #E2E31F;
                    }

                    &.active {
                        color: #000;
                    }
                }
            }
        }
    }
}