.date{
    p{
        background: #252525;
        padding: 11px 38px;
        text-wrap: nowrap;
    }
}

.stage-buttonContainer{
    min-width: 776px;
    width: 100%;
    background: #353535;
    padding: 22px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    position: absolute;
    top: calc(100% + 100px);
    right: 0;
    left: auto;
    z-index: 99;
    button{
        min-width: 173px;
        // width: 100%;
        height: 40px;
        // padding: 12px 30px;
        font-size: 14px;
        font-weight: 700;
        border: none;
        outline: none;
        border-radius: 4px;
        color: #FFFFFF;
    }
    .filter-statusBtn{
        padding: 8px 14px;
        border-radius: 5px;
        text-transform: capitalize;

        &.pending {
            background: #1FB4E366;
            border: 1px solid #1FB4E3;
            color: #1FB4E3;
        }

        &.in-progress {
            background: #c5b9507d;
            border: 1px solid #c5b450;
            color: #c5b450;
        }

        &.completed {
            background: #3B923999;
            border: 1px solid #3B9239;
            color: #3B9239;
        }

        &.not-started {
            background: #ff000066;
            border: 1px solid #ff0000;
            color: #ff0000;
        }

        &.on-hold {
            background: #29232366;
            border: 1px solid #332929;
            color: #3c3e3f
        }
    }
}
