.password-strength-meter {
    text-align: left;
    padding: 0 10px;
  }
  
  .password-strength-meter-progress {
    -webkit-appearance: none;
    -webkit-appearance: none;
    --moz-appearance: none;
    appearance: none;
    width: 100%;
    height: 8px;
    transition: all 0.5s ease;
    margin: auto;
  &::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 24px;
  }
  &::-moz-progress-bar {
    background-color: #eee;
    border-radius: 24px;
  }
  &::-webkit-progress-value {
    border-radius: 24px;
    background-size: 100%;
  }
  &::-moz-progress-value {
    border-radius: 24px;
    background-size: 100%;
  }
  &.strength-Weak{
    &::-webkit-progress-bar {
      background: linear-gradient(270deg, #C20000 7.23%, #C20000 68.43%, #C20000 100.48%);
    }
    &::-webkit-progress-value {
      background: linear-gradient(270deg, #C20000 7.23%, #C20000 68.43%, #C20000 100.48%);
    }
    &:-moz-progress-bar {
      background: linear-gradient(270deg, #C20000 7.23%, #C20000 68.43%, #C20000 100.48%);
    }
    &:-moz-progress-value {
      background: linear-gradient(270deg, #C20000 7.23%, #C20000 68.43%, #C20000 100.48%);
    }
  }
  &.strength-Fair{
    &::-webkit-progress-bar {
      background: linear-gradient(270deg, #FF8A00 7.23%, #C20000 68.43%, #FF8A00 100.48%);
    }
    &::-webkit-progress-value {
      background: linear-gradient(270deg, rgba(255, 136, 0, 0) 7.23%, #C20000 68.43%, #C20000 100.48%);
    }
  }
  &.strength-Good{
    &::-webkit-progress-bar {
      background: linear-gradient(270deg, #00CD2D 7.23%, #FF8A00 68.43%, #FF8A00 100.48%);
    }
    &::-webkit-progress-value {
      background: linear-gradient(270deg, #00cd2c00 7.23%, #FF8A00 68.43%, #FF8A00 100.48%);
    }
  }
  &.strength-Strong{
    &::-webkit-progress-bar {
      background: linear-gradient(270deg, #00CD2D 7.23%, #00CD2D 68.43%, #00CD2D 100.48%);
    }
    &::-webkit-progress-value {
      background: linear-gradient(270deg, #00CD2D 7.23%, #00CD2D 68.43%, #00CD2D 100.48%);
    }
  }
}

.password-strength-meter-label {
  color: #D4D4D4;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 17px; /* 141.667% */
  letter-spacing: -0.5px;
}