@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.root{
    font-family: 'Archivo', sans-serif;
}
body{
    overflow-y: hidden;
}
.App{
    background: #252525;
    width: 100%;
    min-height: 100vh;
    display: flex;
    font-family: 'Archivo', sans-serif;
    .LeftSide{
        width: 30%;
        max-width: 325px;
        box-shadow: 8px 0px 8px 0px rgba(0, 0, 0, 0.30);
        min-height: 100vh;
        position: relative;
        .loginScreenItems{
            .siteLogo{
                max-width: 119px;
                margin-top: 35px;
            }
        }
        .menuList{
            margin-top: 44px;
            padding-left: 18px;
            padding-right: 15px;
            width: 100%;
            margin-bottom: 0;
            list-style: none;
            li{ 
                border-radius: 2px;
                border: 1px solid #E2E31F;
                margin: 10px auto;
                padding: 15px 21px;
                transition: all 0.5s ease;
                cursor: pointer;
                a {
                    display: flex;
                    align-items: center;
                    text-decoration: none; 
                    .iconBox{
                        background: #E2E31F;
                        padding: 10px 12px;
                        border-radius: 1px;
                        margin-right: 15px;
                    }
                    p{
                        color: #FFF;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 800;
                        line-height: normal;
                        letter-spacing: -0.64px;
                        margin: 0;
                    }
                } 
                &:hover, &.active{
                    background: #e2e31f33;
                    border: 1px solid #e2e31f33;
                    p{
                        color: #E2E31F;
                    }
                }
            }
        }
        .dashboardMenuList{
            margin-top: 42px;
            padding-left: 16px;
            padding-right: 15px;
            width: 100%;
            margin-bottom: 0;
            list-style: none;
            li{ 
                margin: 10px auto;
                padding: 2px;
                border: 1px solid transparent;
                transition: all 0.5s ease;
                cursor: pointer;
                a {
                    display: flex;
                    align-items: center;
                    text-decoration: none; 
                    svg{
                        rect{
                            stroke: #fff;
                        }
                        path{
                            fill: #fff;
                        }
                    }
                    p{
                        color: #FFF;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                        letter-spacing: -0.64px;
                        margin: 0;
                    }
                } 
                &.active{
                    border-radius: 8px;
                    background: #E2E31F;
                    border: 1px solid #E2E31F;
                    svg{
                        rect{
                            stroke: #252525;
                        }
                        path{
                            fill: #252525;
                        }
                    }
                    p{
                        color: #252525;
                    }
                }
            }
            .dropDownMenu{
                max-width: calc(100% - 21px);
                margin-top: -10px;
                margin-left: auto;
                border-left: 1px solid #E2E31F;
                position: relative;
                &::before{
                    position: absolute;
                    content: "";
                    left: 0;
                    top: 0;
                    width: 10px;
                    height: 10px;
                    transform: translateX(calc(-50% - 1px)) translateY(-69%);
                    background: #E2E31F;
                    border-radius: 50%;
                }
                li{
                    margin: 0;
                    padding: 6px 17px;
                    background: transparent;
                    border: none;
                    transition: all 0.5s ease;
                    cursor: pointer;
                    border-radius: 0;
                    a {
                        display: flex;
                        align-items: center;
                        text-decoration: none; 
                        svg{
                            rect{
                                stroke: #fff;
                            }
                            path{
                                fill: #fff;
                            }
                        }
                    } 
                    &.active{
                        background: linear-gradient(90deg, #353535 0%, rgba(53, 53, 53, 0.00) 100%);
                        svg{
                            rect{
                                stroke: #E2E31F;
                            }
                            path{
                                fill: #E2E31F;
                            }
                        }
                        p{
                            color: #E2E31F;
                        }
                    }
                }
            }
        }
        .forgotPasswordMenu{
            position: absolute;
            bottom: 0%;
            width: 100%;
            padding: 27px;
            background: #252525;
            a{
                color: #fff;
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                letter-spacing: -0.64px;
                text-decoration: none;
            }
            &::before{
                position: absolute;
                content: '';
                top: 0;
                left: 27px;
                height: 1px;
                width: calc(100% - 54px);
                background: #E2E31F;
                opacity: 0.15;
            }
        }
    }
    .RightSide {
        width: 70%;
        position: relative;
        @media screen and (min-width:1080px) {
            width: calc(100% - 325px);
            max-width: calc(100% - 325px);
            overflow-y: auto; 
            height: 100vh;
        }
        color: #fff;
    }
}

.navMenuDiv {
    background: #252525;
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.30);
    padding: 17px;
    form{
        width: max-content;
        display: flex;
        .searchBox{
            border-radius: 2px;
            padding: 4px 14px;
            background: #353535;
            display: flex;
            gap: 8px;
            align-items: center;
            input{
                background: transparent;
                border: none;
                outline: none;
                color: #E2E31F;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                letter-spacing: -0.64px;
                &::placeholder {
                    color: #E2E31F;
                }
                &::-moz-placeholder{
                    color: #E2E31F;
                    opacity: 1;
                }
            }
        }
        .selectBox{
            margin-left: 10px;
            position: relative;
            &::after {
                position: absolute;
                content: '';
                width: 1.368px;
                height: 100%;
                top: 0;
                right: 2.25rem;
                background: #E2E31F;
                opacity: 0.15;
            }
            select{
                background-color: #353535;
                min-height: 40px;
                border: none;
                color: #E2E31F;
                text-align: center;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                min-width: 130px;
                line-height: 22.914px;
                background-size: 10px 5.8px; 
                background-image: url('./assets/icons/arrowDown.png');
                &:focus {
                    box-shadow: none;
                }
            }
        }
    }
    p{
        color: #E2E31F;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        margin-bottom: 0;
        line-height: normal;
        letter-spacing: -0.64px;
    }
    span{
        color: #FFF;
        font-size: 12px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        letter-spacing: -0.48px;
    }
    .UserImg {
        width: 40px;
        height: 40px;
        background: #e2e31f;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
        box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
        img {
          object-fit: cover;
          max-width: 100%;
          height: 100%;
          border-radius: 5px;
          border: 1px solid #000;
        }
        &.withAddBtn{
            position: relative;
            cursor: pointer;
            &::after{
                content: '+';
                position: absolute;
                bottom: 0;
                right: 0;
                width: 16px;
                height: 16px;
                background: #fff;
                color: #000;
                border-radius: 50%;
                transform: translateX(20%) translateY(20%);
                z-index: 1;
                display: flex;
                font-size: 12px;
                line-height: 100%;
                justify-content: center;
                align-items: center;
            }
        }
        &.addedUserImages{
            position: relative;
            z-index: 0;
            margin: 0;
            margin-right: -10px;
            img {
                object-fit: cover;
                max-width: 100%;
                height: 100%;
                border-radius: 5px;
            }
        }
      }
    .bellIcon{
        border: 1.5px solid #E2E31F;
        width: 36px;
        height: 36px;
        margin-left: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.SignUpSection {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 75px);
    h2{
        color: #FFF;
        text-align: center;
        font-size: 50px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        margin-bottom: 0;
        .colorHeading{
            color: #E2E31F;
        }
        .textStroke {
            color: transparent;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: #E2E31F;
        }
    }
    p{
        color: #FFF;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: 30px;
    }
    form{
        margin-top: 50px;
    }
    .btnDiv{
        display: flex;
        justify-content: center;
        margin-top: 50px;
        button{
            border-radius: 1px;
            border: 2px solid #E2E31F;
            padding: 10px 27px;
            background: transparent;
            color: #FFF;
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: -0.64px;
            transition: all 0.5s ease;
            &:hover{
                background: #e2e31f33;
                border: 2px solid #e2e31f33;
                color: #E2E31F;
            }
        }
    }
    .resendLinkP{
        color: #FFF;
        margin-top: 52px;
        text-align: center;
        font-size: 12px;
        font-style: normal;
        font-weight: 300;
        line-height: 17px; 
        letter-spacing: -0.5px;
        .resendLinkA {
            color: #E2E31F;
            font-size: 14px;
            font-weight: 700;
            text-decoration: none;
            cursor: pointer;
        }
    }
}

.customInput {
    display: flex;
    align-items: center;
    margin: 10px auto;
    width: max-content;
    max-width: 400px;
    width: 100%;
    min-height: 66px;
    background-color: #FFF;
    padding: 7px;
    border-bottom: 6px solid #353535;
    border-top: 6px solid #353535;
    border-left: 8px solid #353535;
    border-right: 9px solid #353535;
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.30);
    position: relative;
    transition: all 1s ease;
    &.errorClass{
        animation: error 0.5s linear alternate;
        border-bottom: 6px solid #ff000075;
        border-top: 6px solid #ff000075;
        border-left: 8px solid #ff000075;
        border-right: 9px solid #ff000075;
        box-shadow: 0px 8px 8px 0px rgba(255, 0, 0, 0.30);
        input{
            color: red;
        }
    }
    @keyframes error {
        0%   {transform: rotate(0deg) ;}
        30%  {transform: rotate(-2deg);}
        60%  {transform: rotate(2deg) ;}
        100% {transform: rotate(0deg) ;}
    } 
    .IconBox{
        border-radius: 4px;
        background: #E2E31F;
        // padding: 11px;
        max-width: 40px;
        width: 100%;
        min-height: 40px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    input {
        background: transparent;
        border: none;
        padding: 0 10px;
        width: 100%;
        &:focus-visible, &:focus {
            outline: 0;
        }
        &.passwordInput{
            max-width: calc(100% - 62px);
        }
        &::placeholder {
            color: #3A3A3A;
            font-family: "Poppins", sans-serif;
            font-size: 16.223px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }
        &::-moz-placeholder {
            color: #3A3A3A;
            font-family: "Poppins", sans-serif;
            font-size: 16.223px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            opacity: 1;
        }
    }
    .toggle-eye-icon{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px ;
    }
}

.table_outer_div {
    .tableBgLines{
        th{
            position: relative;
            &:first-child {
                &::after {
                    content: '';
                    position: absolute;
                    width: 1px;
                    height: 100%;
                    bottom: 100%;
                    right: 0%;
                    background: red;
                }
            }
            &:nth-child(2) {
                &::after {
                    content: '';
                    position: absolute;
                    width: 1px;
                    height: 100%;
                    bottom: 100%;
                    right: 0%;
                    background: red;
                }
            }
        }
    }
    th,
    td {
      vertical-align: middle;
    }
    .paidBtn {
      width: 83px;
      height: 28px;
      color: #71e26e;
  
      text-align: center;
      font-family: Archivo;
      font-size: 12px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: -0.48px;
      border-radius: 4px;
      border: 1px solid #3b9239;
      background: rgba(59, 146, 57, 0.6);
    }
    .commentCell{
        @media screen and (max-width: 1575px) {
            min-width: 400px;
        }
    }
    .svg-box {
      border: 2px solid #e2e31f;
      width: 15px;
      height: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
    .svg-box-2{
      border: 2px solid #e2e31f;
      width: 15px;
      height: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #e2e31f;
      cursor: pointer;
    }
    .uploadBtn {
      width: 83px;
      height: 28px;
      color: #ff4040;
      text-align: center;
      font-family: Archivo;
      font-size: 12px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: -0.48px;
      border-radius: 4px;
      border: 1px solid #e31f1f;
      background: rgba(227, 31, 31, 0.5);
    }
    .IconBox {
      width: 40px;
      height: 40px;
      background: #e2e31f;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 10px;
      box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
      img {
        object-fit: contain;
      }
    }
    .dateCell {
      min-width: 120px;
      font-weight: 600;
      font-size: 16px;
    }
    thead {
      border-radius: 2px;
      background: #353535;
      padding: 12px 20px;
      box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.30);
      .lastCell {
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }
    }
  }

.squareBg{
    position: relative;
    width: 100%;
    &::before {
        content: '';
        position: absolute;
        top: 35%;
        left: 0;
        height: 1px;
        width: 100%;
        opacity: 0.15;
        background: #E2E31F;
    }
    &::after {
        content: '';
        position: absolute;
        bottom: 35%;
        left: 0;
        height: 1px;
        width: 100%;
        opacity: 0.15;
        background: #E2E31F;
    }
}

.settingsPageSection{
    width: 42%;
    max-width: 600px;
    background: #252525;
    box-shadow: 8px 0px 8px 0px rgba(0, 0, 0, 0.30);
    min-height: 90vh;
    padding: 32px;
    position: relative;
    z-index: 1;
    .settingsHeading {
        color: #FFF;
        font-size: 36px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        letter-spacing: -1.44px;
        padding: 40px 0;
    }
    .settingsList{
        list-style: none;
        li{
            border-radius: 2px;
            border: 1px solid #E2E31F;
            padding: 28px 30px;
            margin: 10px auto;
            transition: all 0.5s ease;
            cursor: pointer;
            &.active{
                cursor: auto;
                border: 1px solid transparent;
                background: rgba(226, 227, 31, 0.20);
                a{
                    color: #E2E31F;
                }
                button{
                    color: #E2E31F;
                }
            }
            button{
                display: flex;
                align-items: center;
                color: #fff;
                border: none;
                background: transparent;
                outline: none;
                text-decoration: none;
                gap: 20px;
                width: 100%;
                justify-content: flex-start;
                .iconBox{
                    width: 40px;
                    height: 40px;
                    background: #E2E31F;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                h6{
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    letter-spacing: -0.64px;
                    margin-bottom: 20px;
                }
                p{
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: normal;
                    letter-spacing: -0.48px;
                    margin-bottom: 0;
                }
            }
        }
    }
}
.ProfileDetailsSection{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 58%;
    position: relative;
    z-index: 1;
    &::before {
        content: '';
        position: absolute;
        left: 35%;
        top: 0;
        height: 100%;
        width: 1px;
        opacity: 0.15;
        background: #E2E31F;
    }
    &::after {
        content: '';
        position: absolute;
        right: 35%;
        top: 0;
        height: 100%;
        width: 1px;
        opacity: 0.15;
        background: #E2E31F;
    }
    .contentDiv {
        width: 100%;
        text-align: center;
        position: relative;
        z-index: 1;
        .settingsHeading{
            text-align: center;
            font-size: 50px;
            font-style: normal;
            font-weight: 900;
            line-height: normal;
        }
        p{
            text-align: center;
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            line-height: 40px;
        }
        .customInput{
            width: 100%;
        }
        .btnDiv{
            display: flex;
            justify-content: center;
            margin-top: 50px;
            button{
                border-radius: 1px;
                border: 2px solid #E2E31F;
                padding: 10px 27px;
                background: transparent;
                color: #FFF;
                text-align: center;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                letter-spacing: -0.64px;
                transition: all 0.5s ease;
                &:hover{
                    background: #e2e31f33;
                    border: 2px solid #e2e31f33;
                    color: #E2E31F;
                }
            }
        }
        .imgUploadArea{
            max-width: 245px;
            width: 100%;
            margin: auto;
            height: 325px;
            background: #353535;
            background-image: url('./assets/icons/dummyImg.png');
            background-position: center;
            background-repeat: no-repeat;
            cursor: pointer;
            background-size: 40%;
            box-shadow: 0px 6.53333px 6.53333px 0px rgba(0, 0, 0, 0.30);
            .uploadedImg{
                width: 100%;
                height: 100%;
                position: relative;
                img{
                    object-fit: cover;
                    height: 100%;
                }
                button{
                    position: absolute;
                    top: 0;
                    right: 0;
                }
            }
        }
        .imgUploadTextArea{
            max-width: 345px;
            width: 100%;
            margin: auto;
            background: #353535;
            margin-top: 60px;
            padding: 10px 30px;
            box-shadow: 0px 6.53333px 6.53333px 0px rgba(0, 0, 0, 0.30);
            img{
                margin-top: -40px;
                cursor: pointer;
            }
            p{
                text-align: center;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 121.3%; 
                letter-spacing: -0.56px;
                span{
                    color: #E2E31F;
                    font-size: 16px;
                    cursor: pointer;
                    font-style: normal;
                    font-weight: 800;
                    line-height: normal;
                    letter-spacing: -0.64px;
                    text-decoration-line: underline;
                }
            }
        }
    }
}

.loaderDiv{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    background: #00000050;
}
.DashboardTopMenu{
    padding: 32px 40px 0;
    .DashboardHeading{
        h2{
            color: #fff;
            font-family: 'Archivo', sans-serif;
            font-size: 36px;
            font-style: normal;
            font-weight: 900;
            line-height: normal;
            letter-spacing: -1.44px;
            text-transform: capitalize;
            margin-bottom: 0;
        }
    }
    .dashboardBoxes{
        display: flex;
        flex-wrap: wrap;
        gap: 28px;
        margin-top: 27px;
        .custom_box{
            background: #353535;
            padding: 35px;
            flex: 1 1 auto;
            text-align: center;
            font-family: 'Archivo', sans-serif;
            h3{
                color: #E2E31F;
                font-weight: 900;
            }
            p{
                margin-bottom: 0;
                color: #fff;
                font-weight: 600;
            }
        }
    }
}

.invoiceDeleteDiv{
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    max-width: max-content;
    .iconBox{
        width: 36px;
        height: 36px;
        flex-shrink: 0;
        background: #E2E31F;
    }
    p{
        margin: 0;
        color: #E2E31F;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -0.56px;        
    }
}

.taskContainer{
    ul{
        margin-bottom: 0;
        padding-left: 0;
        list-style: none;
        overflow-x: hidden;
        position: relative;
        min-height: 450px;
        li{
            border-radius: 2px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 14px 15px 11px 24px;
            margin: 11px auto;
            transition: all 1.5s ease;
            &.addCompleted{
                transform: translateX(100%);
                opacity: 0.5;
            }
            &.addTodo{
                transform: translateX(-100%);
                opacity: 0.5;
            }
            &.heading{
                background: #353535;
                color: #FFF;
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                letter-spacing: -0.64px;
            }
            &.completeStage{
                .listContent{
                    min-width: max-content;
                    width: 50%;
                    &:first-child{
                        width: 30%;
                    }
                    &:nth-child(2){
                        width: auto;
                    }
                }
                .stageBtn{
                    &.btn_Application{
                        border: 1px solid #3B9239;
                        background: rgba(59, 146, 57, 0.60);
                    }
                    &.btn_Referral{
                        border: 1px solid #1FB4E3;
                        background: rgba(31, 180, 227, 0.40);
                    }
                    &.btn_Information{
                        border: 1px solid #8A50C5;
                        background: rgba(138, 80, 197, 0.49);
                    }
                    &.btn_Public{
                        border: 1px solid #FF5C00;
                        background: rgba(255, 92, 0, 0.55);
                    }
                    &.btn_Decision{
                        border: 1px solid #FF40BE;
                        background: rgba(255, 64, 190, 0.40);
                    }
                    &.btn_Unknown{
                        border: 1px solid #FFF;
                        background: rgba(255, 255, 255, 0.25);
                    }
                }
            }
            .listContent{
                width: 100%;
                &.listTitle{
                    display: flex;
                    align-items: center;
                    .svg-box-not-selected {
                        border-radius: 1px;
                        border: 1px solid #FFF;
                        width: 15px;
                        height: 15px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                      }
                      .svg-box-selected {
                        border: 1px solid #fff;
                        width: 15px;
                        height: 15px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: #fff;
                        cursor: pointer;
                      }
                    p{
                        color: #FFF;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                        letter-spacing: -0.64px;  
                        margin-bottom: 0;
                        span{
                            font-weight: 300;
                        }                      
                    }
                }
                .revertToDo{
                    cursor: pointer;
                }
            }
            .centerContent{
                display: flex;
                align-items: center;
                gap: 65px;
                width: 50%;
                justify-content: space-between;
                .centerText{
                    width: 100%;
                    text-align: center;
                    min-width: 144px;
                }
            }
            .stageBtn{
                border-radius: 4px;
                color: #FFF;
                font-size: 12px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                letter-spacing: -0.48px;
                min-height: 28px;
                align-content: center;
                min-width: max-content;
                padding: 7.5px 12px;
            }
            &.stage_Application{
                background: #326631;
                .btn_Application{
                    border: 1px solid #3B9239;
                    background: rgba(59, 146, 57, 0.60);
                }
            }
            &.stage_Referral{
                background: #235E71;
                .btn_Referral{
                    border: 1px solid #1FB4E3;
                    background: rgba(31, 180, 227, 0.40);
                }
            }
            &.stage_Information{
                background: #573A73;
                .btn_Information{
                    border: 1px solid #8A50C5;
                    background: rgba(138, 80, 197, 0.49);
                }
            }
            &.stage_Public{
                background: #9D4311;
                .btn_Public{
                    border: 1px solid #FF5C00;
                    background: rgba(255, 92, 0, 0.55);
                }
            }
            &.stage_Decision{
                background: #7C3062;
                .btn_Decision{
                    border: 1px solid #FF40BE;
                    background: rgba(255, 64, 190, 0.40);
                }
            }
            &.stage_Unknown{
                background: #353535;
                .btn_Unknown{
                    border: 1px solid #FFF;
                    background: rgba(255, 255, 255, 0.25);
                }
            }
        }
    }
}

.addNewTaskBtn{
    color: #E2E31F;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.56px;
    cursor: pointer;
}
.addNewTaskDiv{
    .addTaskJobBtn{
        border-radius: 4px;
        color: #FFF;
        cursor: pointer;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.48px;
        min-height: 28px;
        align-content: center;
        min-width: max-content;
        padding: 7.5px 12px;
        border: 1px solid #FFF;
        background: rgba(255, 255, 255, 0.25);
        &.Application{
            border: 1px solid #3B9239;
            background: rgba(59, 146, 57, 0.60);
        }
        &.Referral{
            border: 1px solid #1FB4E3;
            background: rgba(31, 180, 227, 0.40);
        }
        &.Information{
            border: 1px solid #8A50C5;
            background: rgba(138, 80, 197, 0.49);
        }
        &.Public{
            border: 1px solid #FF5C00;
            background: rgba(255, 92, 0, 0.55);
        }
        &.Decision{
            border: 1px solid #FF40BE;
            background: rgba(255, 64, 190, 0.40);
        }
    }
    .addAssigneeDropdown{
        position: absolute;
        left: 0;
        top: 0;
        z-index: 99;
        width: 100%;
        height: 100%;
        background: rgba(37, 37, 37, 0.60);
        backdrop-filter: blur(2px);   
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .addTaskJobListScroll{
            border-radius: 8px;
            background: #353535;
            padding: 27px 18px 23px 21px;
            margin-top: 7px;
            max-width: max-content;
            width: 100%;
            .addTaskJobListItems{
                max-height: 300px;
                overflow-y: auto;
                &::-webkit-scrollbar {
                    width: 4px;
                } 
                &:-moz-scrollbar {
                    width: 4px;
                } 
                &::-webkit-scrollbar-track {
                    border-radius: 2px;
                    background: rgb(255,255,255);
                    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(113,113,113,1) 30%, rgba(113,113,113,1) 70%, rgba(255,255,255,0) 100%); 
                } 
                &:-moz-scrollbar-track {
                    border-radius: 2px;
                    background: rgb(255,255,255);
                    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(113,113,113,1) 30%, rgba(113,113,113,1) 70%, rgba(255,255,255,0) 100%); 
                }
                &::-webkit-scrollbar-thumb {
                    background: #fff; 
                    border-radius: 4px;
                }
                &:-moz-scrollbar-thumb {
                    background: #fff; 
                    border-radius: 4px;
                }
                label{
                    color: #E2E31F;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: normal;
                    letter-spacing: -0.56px;   
                    margin-bottom: 24px;  
                    &.addedAssignees{
                        font-size: 16px;
                        font-weight: 600;
                        line-height: normal;
                        letter-spacing: -0.64px;                        
                        margin-bottom: 16px;
                    }               
                }
                .addedAssigneeBorder{
                    border-bottom: 1px solid rgb(226, 227, 31, 0.15);
                }
                .addAssigneeDiv{
                    display: flex;
                    justify-content: flex-start;
                    gap: 16px;
                    margin-bottom: 21px;
                    transition: all 0.5s ease;
                    min-width: max-content;
                    color: #fff;
                    cursor: pointer;
                    h4{
                        color: #E2E31F;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                        letter-spacing: -0.64px; 
                        margin: 0;                      
                    }
                    p{
                        margin: 0;
                        color: #FFF;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: normal;
                        letter-spacing: -0.48px;
                    }
                    .checkAddBtn{
                        margin-left: auto;
                        padding: 0 20px;
                        font-size: 20px;
                        color: #E2E31F;
                    }
                    &.active    {
                        color: #000;
                    }
                }
            }                
        }     
    }
    .addTaskJobDiv{
        position: relative;
        .addTaskJobDropdown{
            position: absolute;
            left: 0;
            top: calc(100% + 22px);
            z-index: 99;
            &.right{
                right: 0;
                left: auto;
            }
            .addTaskJobSearchDiv{
                border-radius: 2px;
                background: #353535;
                padding: 12px 13px 13px 14px;
                display: flex;
                justify-content: space-between;
                gap: 8px;
                .searchBox{
                    border-radius: 2px;
                    padding: 11px 14px;
                    background: #252525;
                    display: flex;
                    gap: 8px;
                    align-items: center;     
                    input{
                        background: transparent;
                        border: none;
                        outline: none;
                        color: #E2E31F;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        letter-spacing: -0.64px;
                        &::placeholder {
                            color: #E2E31F;
                        }
                        &::-moz-placeholder{
                            color: #E2E31F;
                            opacity: 1;
                        }
                }               
                }
                .divider{
                    width: 1px;
                    background: #fff;
                    border-radius: 2px;
                }
            }
            .addTaskJobListScroll{
                border-radius: 8px;
                background: #353535;
                padding: 27px 18px 23px 21px;
                margin-top: 7px;
                .addTaskJobListItems{
                    max-height: 300px;
                    overflow-y: auto;
                    &::-webkit-scrollbar {
                        width: 4px;
                    } 
                    &:-moz-scrollbar {
                        width: 4px;
                    } 
                    &::-webkit-scrollbar-track {
                        border-radius: 2px;
                        background: rgb(255,255,255);
                        background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(113,113,113,1) 30%, rgba(113,113,113,1) 70%, rgba(255,255,255,0) 100%); 
                    } 
                    &:-moz-scrollbar-track {
                        border-radius: 2px;
                        background: rgb(255,255,255);
                        background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(113,113,113,1) 30%, rgba(113,113,113,1) 70%, rgba(255,255,255,0) 100%); 
                    }
                    &::-webkit-scrollbar-thumb {
                        background: #fff; 
                        border-radius: 4px;
                    }
                    &:-moz-scrollbar-thumb {
                        background: #fff; 
                        border-radius: 4px;
                    }
                    .addTaskJobListItem{
                        padding: 14px 21px 15px 24px;
                        margin-bottom: 2px;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                        letter-spacing: -0.64px;
                        transition: all 0.5s ease;
                        min-width: max-content;
                        color: #fff;
                        cursor: pointer;
                        background: linear-gradient(90deg, #e3e31f00 0%, rgba(226, 227, 31, 0.00) 100%);
                        &:hover,&.active    {
                            background: linear-gradient(90deg, #E2E31F 0%, rgba(226, 227, 31, 0.00) 100%);
                            color: #000;
                        }
                    }
                    .addTaskJobStageItem {
                        min-width: max-content;
                        padding: 14px 21px 15px 24px;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                        letter-spacing: -0.64px;
                        transition: all 0.5s ease;
                        border-radius: 4px;
                        color: #FFF;
                        cursor: pointer;
                        border: 1px solid #FFF;
                        background: rgba(255, 255, 255, 0.25);
                        margin-bottom: 7px;
                        &.Application{
                            border: 1px solid #3B9239;
                            background: rgba(59, 146, 57, 0.60);
                        }
                        &.Referral{
                            border: 1px solid #1FB4E3;
                            background: rgba(31, 180, 227, 0.40);
                        }
                        &.Information{
                            border: 1px solid #8A50C5;
                            background: rgba(138, 80, 197, 0.49);
                        }
                        &.Public{
                            border: 1px solid #FF5C00;
                            background: rgba(255, 92, 0, 0.55);
                        }
                        &.Decision{
                            border: 1px solid #FF40BE;
                            background: rgba(255, 64, 190, 0.40);
                        }
                        
                    }
                    label{
                        color: #E2E31F;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: normal;
                        letter-spacing: -0.56px;   
                        margin-bottom: 24px;  
                        &.addedAssignees{
                            font-size: 16px;
                            font-weight: 600;
                            line-height: normal;
                            letter-spacing: -0.64px;                        
                            margin-bottom: 16px;
                        }               
                    }
                    .addedAssigneeBorder{
                        border-bottom: 1px solid rgb(226, 227, 31, 0.15);
                    }
                    .addAssigneeDiv{
                        display: flex;
                        justify-content: flex-start;
                        gap: 16px;
                        margin-bottom: 21px;
                        transition: all 0.5s ease;
                        min-width: max-content;
                        color: #fff;
                        cursor: pointer;
                        h4{
                            color: #E2E31F;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: normal;
                            letter-spacing: -0.64px; 
                            margin: 0;                      
                        }
                        p{
                            margin: 0;
                            color: #FFF;
                            font-size: 12px;
                            font-style: normal;
                            font-weight: 300;
                            line-height: normal;
                            letter-spacing: -0.48px;
                        }
                        .checkAddBtn{
                            margin-left: auto;
                            padding: 0 20px;
                            font-size: 20px;
                            color: #E2E31F;
                        }
                        &.active    {
                            color: #000;
                        }
                    }
                }                
            }
        }
    }
    .addTaskTitleBtn{
        border-radius: 2px;
        background: #252525;
        color: #FFF;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        letter-spacing: -0.64px;
        outline: none;
        border: none;
        width: 100%;
        padding: 11px 14px;
        margin: 0 17px 0 9px;
        &::placeholder{
            color: #FFF;
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            letter-spacing: -0.64px;
            outline: none;
            border: none;
            opacity: 1;
        }
    }
    .addTaskDueDateBtn{
        cursor: pointer;
        svg{
            path{
                fill: #fff;
            }
        }
    }
}

.datePickerText{
    svg{
        path{
            fill: #E2E31F;
        }
    }
    .selectPrevNextMonthIcon{
        width: 36px;
        height: 100%;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.datePickerDiv{
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 9;
    .rdrCalendarWrapper{
        background: #353535;
        .rdrMonthAndYearWrapper{
            .rdrNextPrevButton{
                background: #E2E31F;
            }
        }
        .rdrMonthAndYearPickers{
            select{
                color: #E2E31F;
            }
        } 
        .rdrMonthsVertical{
            .rdrWeekDay{
                color: #fff;
            }
            .rdrDays{
                .rdrDay{
                    &.rdrDayDisabled{
                        background: #353535;
                    }
                    &.rdrDayPassive{
                        opacity: 0.5;
                    }
                    color: #fff;
                    &.rdrDayHovered{
                        .rdrDayStartPreview{
                            color: #E2E31F !important;
                        } 
                        .rdrDayEndPreview{
                            color: #E2E31F !important;
                        }
                    }
                    .rdrDayStartPreview{
                        color: #E2E31F !important;
                    } 
                    .rdrDayEndPreview{
                        color: #E2E31F !important;
                    }
                    .rdrSelected{
                        color: #E2E31F !important;
                    }
                    .rdrDayNumber {
                        span{
                            color: #fff;
                        }
                    }
                    &.rdrDayToday{
                        .rdrDayNumber {
                            span{
                                // color: #E2E31F;
                                &::after{
                                    background: #E2E31F;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .rdrDateRangePickerWrapper {
        .rdrDefinedRangesWrapper{
            display: none;
        }
        .rdrCalendarWrapper{
            border-radius: 8px;
            background: #353535;
            .rdrDateDisplayWrapper{
                background-color: transparent;
                .rdrDateDisplayItem{
                    background-color: #353535;
                    input{
                        color: #E2E31F;
                    }
                }
            }
            .rdrMonthAndYearWrapper{
                .rdrNextPrevButton{
                    background: #E2E31F;
                }
            }
            .rdrMonthAndYearPickers{
                select{
                    color: #E2E31F;
                }
            } 
            .rdrMonthsVertical{
                .rdrWeekDay{
                    color: #fff;
                }
                .rdrDayToday{
                    color: #E2E31F !important;
                    .rdrDayNumber{
                        span{
                            &::after{
                                background: #E2E31F;
                            }
                        }
                    } 
                }
                .rdrDayNumber{
                    span{
                        color: #fff;
                    }
                }
            }
        }
    }
}
.taskTabsDiv{
    display: flex;
    margin-top: 27px;
    margin-bottom: 10px;
    .taskTab{
        background: #353535;
        min-width: 144px;
        border-radius: 8px 8px 0 0;
        text-align: center;
        color: #FFF;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -0.48px;    
        padding: 6px;
        position: relative;
        z-index: 0;
        cursor: pointer;
        &:nth-child(2){
            transform: translateX(-16px);
        }
        &.active{
            z-index: 1;
            border: 1px solid #E2E31F;
            background: #969721;
        }
    }
}

.colorOutlineBtn{
    border-radius: 1px;
    border: 2px solid #E2E31F;
    padding: 11px 27px;
    color: #fff;
    background: transparent;
    outline: none;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.64px;
    transition: all 0.5s ease;
    &:hover{
        background: #E2E31F;
        color: #353535;
    }
}


/* width */
::-webkit-scrollbar {
    width: 5px;
    z-index: 99999;
  }
   
  /* Track */
  ::-webkit-scrollbar-track {
    background: #00000071;
    z-index: 99999;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #3f3f3f77;
    z-index: 99999;
    
  }
   
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
    z-index: 99999;
  }